.nav {
  position: fixed;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.nav > a {
  cursor: pointer;
  position: absolute;
  font-size: 1.6rem;
  left: 20px;
  font-weight: lighter;
  letter-spacing: 10px;
  min-width: 200px;
}

.navItems {
  display: flex;
  font-weight: bold;
  font-size: 1.1rem;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

@media (max-width: 900px) {
  .nav > :first-child {
    display: none;
  }
}
